* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    width: 100%;
    background-color: azure;
    font-family: 'Open Sans', sans-serif;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar {
    width: 10vw;
    height: 50%;
    z-index: 99;
    position: absolute;
    top: 0;
    left: -10vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 25px;
    background-color: azure;
    box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.19);
    justify-content: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    -moz-transition:all 200ms ease-in;
    -webkit-transition:all 200ms ease-in;
    -o-transition:all 200ms ease-in;
    transition:all 200ms ease-in;
}


.sidebar a {
    text-decoration: none;
    color: rgb(102, 102, 102);
    transition: .2s;
}


.sidebar ul li {
    margin: 25px;
}

.toggleButton {
    top: 0;
    left: 0;
    position: absolute;
    padding: 20px; 
    font-size: 15px;
    background-color: azure;
    box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.19);
    color: rgb(102, 102, 102);
    border: 1px solid transparent;
    border-radius: 50px;
    margin-top: 2vh;
    margin-left: 4vw;
}



main {
    z-index: -2;
    position: absolute;
    color: black;
    background-color: azure;
    width: 95vw;
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.proggers {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.proggers h2, .schedtasks h2 {
    text-align: center;
    text-decoration: underline;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.19);
}


.progress {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgreen;
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 30px;
    width: 80%;

}

ul li{
    margin-top: 10px;
    list-style-type: none;
}

.schedtasks {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content:flex-start;
}

.schedtasks > section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    justify-content: space-around;
    text-align: center;
    height: 100vh;
}

.tasks {
    width: 80%;
    background-color: lightskyblue;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.19);
}

.schedule {
    display: flex;
    width: 40vw;
    justify-content: space-evenly;
    height: 50vh;
    text-align: center;
    background-color: pink;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.subsec {
    height: 100px;
    width: 100px;
}

.toggleButton {
    display: flex;
}

.dark {

}